# General
PROJECT_NAME=docker-wordpress
PHP_VERSION=8.5

# Wordpress
WORDPRESS_VERSION=7.0.4
DB_TABLE_PREFIX=wp_
WORDPRESS_DEBUG=0
WORDPRESS_PORT=8080
WP_HOME=http://localhost:8080
PROD_URL=https://www.remotehost.com

# Database
MARIADB_VERSION=12.3
DB_ROOT_PASSWORD=wordpress
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress

